$icon-font-path: '../fonts/';

// Media queries breakpoints
$screen-xs: 480px; // Extra small screen
$screen-sm: 768px; // Small screen
$screen-md: 768px; // Medium screen
$screen-lg: 1024px; // Large screen

// Grid system.
// Define your custom responsive grid.
// Number of columns in the grid &
//    Padding between columns. Gets divided in half for the left and right.
$grid-columns: 12;
$grid-gutter-width: 60px;


// Container sizes.
// Define the maximum width of `.container` for different screen sizes.
$container-tablet: (640px + $grid-gutter-width);
$container-desktop: (700px + $grid-gutter-width);
$container-large-desktop: (940px + $grid-gutter-width);

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// vars
$white: #ffffff;
$pink: #EA736A;
$yellow: #FCEDA7;
$lightblue: #356595;
$darkblue: #033E7B;


body {
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:20px;
}

html, body {
  overflow-x:hidden;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  padding: 40px 0;

  .next-button {
    img {
      cursor:pointer;
      transform:rotate(-5deg) translateZ(0);
      transform-origin: 50% 100%;

      &:hover {
        transition:transform 250ms ease-out;
        transform:rotate(0deg) translateZ(0);
      }
    }
  }
}

header {
  background-color: $lightblue;

  @media (min-width: $screen-xs-min) {
    margin-bottom:0px;

    .main, ul li {
      display:none;
    }
  }

  .header-grass {
    margin-top:-6px !important;

    @media (min-width: $screen-xs-min) {
      margin-top:16px !important;
    }
  }

  .main, ul li {
    padding:0;
    margin:0;
    text-align:center;
    color:white;
    font-size:18px;
    line-height:42px;
    border-top:1px solid #2c5594;
    cursor:pointer;
  }

  .main {
    border-top:0;
  }

  ul {
    list-style:none;
    padding:0;
    margin:0;

    li {
      height:0;
      width:0;
      opacity:0;

      transition: opacity 300ms ease-out;
      &:nth-child(1) { transition-delay:150ms; }
      &:nth-child(2) { transition-delay:200ms; }
      &:nth-child(3) { transition-delay:350ms; }
    }
  }

  &.menu-opened {
    display:block;

    ul li {
      height:auto;
      width:auto;
      display:block !important;
      opacity:1;
    }
  }
}

section.splash {
  background-color: $white;

  margin-top:40px;

  @media (min-width: $screen-md-min) {
    margin-top:200px;
    margin-bottom:240px;
  }

  .logo {
    float:none;
    margin:0 auto;
  }

  img {
    width:100%;
    height:auto;
    display:inline-block;
  }

  .phone {
    text-align:center;
    color:$lightblue;
    font-weight:bold;
    margin-top:20px;

    @media (min-width: $screen-xs-min) {
      display:none;
    }
  }
}

section.intro {
  background-color: $yellow;

  .section-image {
    margin-top:-130px;
    &.section-image-struisvogel {
      width:257px;
      height:351px;
      background-image:url('../images/struisvogel-spritemap.png');
    }
  }

  h1 {
    margin:0;
    @media (min-width: $screen-lg-min) {
      margin-bottom:20px;
    }
  }

  h1.holidays-sick {
    display:inline-block;
    width:277px;
    height:33px;
    background:url('../images/opvakantie-ziek.png') no-repeat top left;
    background-size:contain;
    font-size:0;
  }

  h1.overtime {
    display:inline-block;
    width:178px;
    height:33px;
    background:url('../images/overwerken.png') no-repeat top left;
    background-size:contain;
    font-size:0;
    margin-bottom:20px;
    display:inline-block;
  }

  .intro-text {
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
      width:66%;
    }
  }

  p {
    font-size:16px;
    color:$darkblue;
    margin-bottom:30px;
  }

  .section-next {
    margin-bottom:24px;
  }

  .section-next img {
    @media (min-width: $screen-md-min) {
      margin-top:-60px;
    }
  }
}

section.how {
  background-color: $white;
  color:$darkblue;

  padding-top:20px;
  @media (min-width: $screen-md-min) {
    padding-top:40px;
  }

  .steps {
    position:relative;
    font-size:15px;

    @media (min-width: $screen-md-min) {
      font-size:13px;
      height:685px;
    }

    .section-image-beesjeblijbaasjeblij {
      position:absolute;
      display:block;
      width:228px;
      height:270px;
      top:255px;
      left:265px;
      background-image:url('../images/beesjeblijbaasjeblij-spritesheet.jpg');
      display:none;

      @media (min-width: $screen-md-min) {
        display:block;
      }

      @media (min-width: $screen-lg-min) {
        top:225px;
        left:390px;
      }

      img {
        width:100%;
      }
    }

    .step {
      margin-top:35px;
      position:relative;

      & > img {
        float:left;
        margin-left:30px;
        max-width:75px;
        height:auto;
      }

      & > .desc {
        margin-left: 130px;
        margin-right: 30px;
        font-size:14px;
        transform: translateZ(0); /* fixes flicker bugs in safari */
      }

      .asterix { margin-left:5px; display:none; }

      @media (min-width: $screen-md-min) {
        margin-top:auto;
        position:absolute;
        left:50%;

        & > img {
          float:none;
          margin-left:auto;
          max-width:1000px;
        }

        & > .desc {
          padding:10px;
          margin-left: 0;
          margin-right: 0;
          font-size: 13px;
        }

        &.text-below {
          .desc { margin-top:2px; }
        }

        &.text-next {
          img { vertical-align:top; }
          .desc { display:inline-block; width:65%; }
        }

        .asterix { display:inline; }

        &.step-1 {
          width:180px; top:0; margin-left:-70px;
          @media (min-width: $screen-lg-min) {
            width:275px; top:0; margin-left:-130px;
          }
        }
        &.step-2 {
          width:240px; top:70px; margin-left:120px;
          @media (min-width: $screen-lg-min) {
            width:275px; top:60px; margin-left:172px;
          }
        }
        &.step-3 {
          width:220px; top:334px; margin-left:160px;
          @media (min-width: $screen-lg-min) {
            width:267px; top:334px; margin-left:190px;
          }
        }
        &.step-4 {
          width:330px; top:559px; margin-left:40px;
          @media (min-width: $screen-lg-min) {
            width:350px; top:559px; margin-left:60px;
          }
        }
        &.step-5 {
          width:400px; top:550px; margin-left:-360px;
          @media (min-width: $screen-lg-min) {
            width:400px; top:550px; margin-left:-415px;
          }
        }
        &.step-6 {
          width:240px; top:282px; margin-left:-360px;
          @media (min-width: $screen-lg-min) {
            width:240px; top:282px; margin-left:-442px;
          }
        }
        &.step-7 {
          width:330px; top:80px; margin-left:-330px; img { margin-left:75px; }
          @media (min-width: $screen-lg-min) {
            width:330px; top:80px; margin-left:-428px; img { margin-left:75px; }
          }
        }
      }
    }

    .arrow {
      display:none;

      @media (min-width: $screen-md-min) {
        display:block;
        position:absolute;
        left:50%;
        z-index:1;

        &.arrow-1 {
          top:33px; margin-left:62px;
          @media (min-width: $screen-lg-min) {
            top:33px; margin-left:62px;
          }
        }
        &.arrow-2 {
          top:290px; margin-left:315px;
          @media (min-width: $screen-lg-min) {
            top:332px; margin-left:335px;
          }
        }
        &.arrow-3 {
          top:510px; margin-left:265px;
          @media (min-width: $screen-lg-min) {
            top:510px; margin-left:300px;
          }
        }
        &.arrow-4 {
          top:663px; margin-left:-40px;
          @media (min-width: $screen-lg-min) {
            top:663px; margin-left:0;
          }
        }
        &.arrow-5 {
          top:490px; margin-left:-225px;
          @media (min-width: $screen-lg-min) {
            top:490px; margin-left:-285px;
          }
        }
        &.arrow-6 {
          top:275px; margin-left:-215px;
          @media (min-width: $screen-lg-min) {
            top:262px; margin-left:-295px;
          }
        }
      }
    }
  }

  .asterix-explain {
    font-size:14px;
    padding-left:80px;
    display:none;

    @media(min-width: $screen-md-min) {
      display:block;
    }

    .asterix {
      float:left;
    }

    p {
      color:$darkblue;
      margin-left: 35px;
    }

    .extra {
      font-size:13px;
      margin-left: 35px;
      display:inline-block;
    }

    * {
      transform: translateZ(0); /* fixes flicker bugs in safari */
    }
  }

  .section-next {
    margin-top:40px;

    .next-button img {
      @media(min-width: $screen-md-min) {
        margin-top:50px;
      }
    }
  }
}

section.pricing {
  background-color: $pink;
  color:$white;

  * {
    transform: translateZ(0); /* fixes flicker bugs in safari */
  }

  .container {
    margin-bottom:20px;
  }

  .price-table {
    margin-bottom:50px;
    margin-top:25px;
    @media (min-width: $screen-md-min) {
      margin-top:0px;
    }

    .price-row {
      border-bottom:1px solid $white;
      padding:12px 0;
      &:last-child { border-bottom:none; }

      .price { float:right; margin-left:30px; }
    }
  }


  .arrow {
    margin-right:8px;
    vertical-align:top;
  }

  .availability {
    margin-bottom:50px;
    p {
      margin-top:10px;
    }
  }

  .more-info {
    @media (min-width: $screen-md-min) {
      margin-left:-34px;
    }

    &:hover {
      text-decoration:underline;
      cursor:pointer;
    }
  }

  .more-info-panel {
    overflow:hidden;
    height:0px;

    transition: height 750ms;

    .more-info-panel-content {
      color:#9d2d30;
      font-size: 13px;
      margin-top:10px;
    }
  }
}

section.service {
  background-color: $white;

  padding-top:20px;
  padding-bottom:0px;

  @media (min-width: $screen-md-min) {
    padding-top:40px;
    padding-bottom:10px;
  }


  .container {
    margin-top:20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    background:url(../images/hartje.png) no-repeat top left;
    background-size: 18px 16px;
    background-position:0px 2px;
    padding-left:40px;
    font-weight:bold;
    color:$darkblue;
    margin-bottom:30px;
  }

  .section-image {
    display:none;
    @media (min-width: $screen-md-min) {
      display:block;
    }

    padding:0;
    margin-left:50px;

    &.section-image-animated {
      width:257px;
      height:354px;
      background:url('../images/service-spritesheet.jpg');
    }
  }

  .section-next {
    display:none;

    @media (min-width: $screen-md-min) {
      display:block;
    }

    img {
      @media (min-width: $screen-lg-min) {
        margin-top:-50px;
      }
    }
  }
}

section.love {
  background-color: $yellow;
  display:none;

  @media (min-width: $screen-md-min) {
    display:block;
  }

  .section-content {
    position:relative;

    .names {
      position:relative;
      height:375px;

      .name {
        position:absolute;
        top:0;
        left:0;
        cursor:pointer;

        transition:opacity 150ms ease-in;
        opacity:1;


        &.name-1 { // ziggy
          top:255px; left:40px;
          @media (min-width: $screen-lg-min) {
            top:255px; left:80px;
          }
        }

        &.name-2 { // sookie
          top:65px; left:135px;
          @media (min-width: $screen-lg-min) {
            top:65px; left:175px;
          }
        }

        &.name-3 { // oscar
          top:225px; left:300px;
          @media (min-width: $screen-lg-min) {
            top:215px; left:360px;
          }
        }

        &.name-4 { // laurent
          top:25px; left:330px;
          @media (min-width: $screen-lg-min) {
            top:25px; left:430px;
          }
        }

        &.name-5 { // polleke
          top:220px; left:500px;
          @media (min-width: $screen-lg-min) {
            top:200px; left:575px;
          }
        }

        &.name-6 { // nelson
          top:65px; left:590px;
          @media (min-width: $screen-lg-min) {
            top:65px; left:725px;
          }
        }
      }
    }

    .detail {
      position:absolute;
      overflow:hidden;
      z-index:100;
      top:30px;
      left:0;
      width:0;
      height:0;
      opacity:0;

      @media (min-width: $screen-lg-min) {
        top:70px;
      }

      transition:opacity 500ms ease-out;

      .name {
        display:none;
        height:375px;

        @media (min-width: $screen-lg-min) {
          margin-left:30px;
        }
      }

      .text {
        color:$darkblue;
        display:none;
        height:375px;
        line-height:24px;
      }

      .bossy {
        margin-left:20%;
        margin-top:7%;
      }

      .close-button {
        position:absolute;
        right:50px;
        width:25px;
        height:25px;
        background:url('../images/sluit-icoon.png') no-repeat center center;
        background-size:contain;
        cursor:pointer;
        opacity:0.75;

        &:hover {
          opacity:1;
        }
      }
    }

    &.detail-opened {
      .names {
        .name {
          opacity:0;

          &.name-1 { transition-delay:0ms }
          &.name-2 { transition-delay:50ms }
          &.name-3 { transition-delay:100ms }
          &.name-4 { transition-delay:150ms }
          &.name-5 { transition-delay:200ms }
          &.name-6 { transition-delay:250ms }
        }
      }

      .detail {
        width:100%;
        height:auto;
        opacity:1;
        transition-delay: 750ms;

        .name {
          &.shown {
            display:block;
          }
        }

        .text {
          &.shown {
            display:table-cell;
          }
        }
      }
    }
  }

  .section-image {
    margin-top:-50px;
  }
}


/* contact section */

section.contact {
  background-color: $lightblue;
  color:white;

  margin-top:-70px;

  padding-top:110px;
  padding-bottom:50px;

  @media (min-width: $screen-md-min) {
    padding-top:130px;
    padding-bottom:40px;
  }

  * {
    transform: translateZ(0); /* fixes flicker bugs in safari */
  }

  a, a:link, a:hover, a:visited {
    color:white;
  }

  a:focus {
    outline: none !important;
    text-decoration:none;
  }

  .email-alt {
    display:inline;

    @media (min-width: $screen-md-min) {
      display:none;
    }
  }

  .social {
    display:none;
    @media (min-width: $screen-md-min) {
      display:block;
    }

    p:first-child {
      margin-bottom:24px;
    }

    .facebook {
      margin-right:6px;
    }
  }

  .coords {
    @media (min-width: $screen-md-min) {
      text-align:right;
    }

    p {
      margin:24px 0;
    }
  }
}

/* section overlay image */
.section-overlap-image {

  display:none;

  @media (min-width: $screen-md-min) {
    display:block;
  }

  .row {
    position:relative;
  }

  .section-image-animated {
    position:absolute;
    top:-170px;
    right:15px;

    @media (min-width: $screen-lg-min) {
      top:-150px;
      right:75px;
    }

    width:294px;
    height:194px;

    background-image:url('../images/neushoorn-spritesheet.png');
    background-size:auto 194px;
  }

}


/* legal footer */

footer {
  background-color: $darkblue;
  color:white;
  font-size:11px;
  padding:8px 0 18px 0;

  .legal-link {
    cursor:pointer;
    &:hover {
      text-decoration:underline;
    }
  }

  * {
    transform: translateZ(0); /* fixes flicker bugs in safari */
  }
}


/* grass strips */

.grass {
  background-size:649px 38px;
  background-position:center center;
  height:38px;

  background-color:white;

  &.grass-horizontal {
    margin-top:-30px;
  }

  &.grass-tilted {
    height:70px;
    width:110%;
    background-repeat:repeat-x;
    background-position:center bottom;
    transform: rotate(1.5deg) translateZ(0);
    transform-origin: top left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &.grass-reverse-tilted {
    transform: rotate(-1.8deg) translateZ(0);
    transform-origin: top left;
    margin-left:-5%;
  }

  &.grass-white { background-image:url('../images/gras-wit.png'); }
  &.grass-lightblue { background-image:url('../images/gras-lichtblauw.png'); }
  &.grass-darkblue { background-image:url('../images/gras-donkerblauw.png'); }
  &.grass-yellow { background-image:url('../images/gras-geel.png'); }
  &.grass-pink { background-image:url('../images/gras-roos.png'); }

  &.grassbg-lightblue { background-color:$lightblue; }
  &.grassbg-yellow { background-color:$yellow; }
  &.grassbg-pink { background-color:$pink; }

  &.grass-intro-how {
    margin-top:-50px; margin-top:-70px;
  }

  &.grass-pricing-service {
    height:70px;
    margin-top:-25px;

    @media (min-width: $screen-md-min) {
      height:84px;
      margin-top:0px;
    }
  }

  &.grass-service-love {
    display:none;

    @media (min-width: $screen-md-min) {
      display:block;
    }
  }

  &.grass-love-contact {
    background-color:white;

    @media (min-width: $screen-md-min) {
      background-color:$yellow;
    }

    height:90px;
    margin-bottom:-20px;
  }
}


/* legal */
body.legal {
  background-color:$yellow;
  margin:30px;
  color:$darkblue;
  font-size:14px;
}