$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// vars
$white: #ffffff;
$pink: #EA736A;
$yellow: #FCEDA7;
$lightblue: #356595;
$darkblue: #033E7B;

body {
  font-family: 'Lato', sans-serif;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  padding:40px 0;
}

header {
  background-color: $lightblue;
  height:70px;
}

section.splash {
  background-color: $white;

  .row {

  }

  .center-block {
    float:none;
    line-height:600px;
  }

  img {
    width:100%;
    height:auto;
    display:inline-block;
  }
}

section.intro {
  background-color: $yellow;

  h1 {
    display:inline-block;
    width:455px;
    height:33px;
    background:url('../images/opvakantie-ziek-overwerken.png') no-repeat top left;
    background-size:contain;
    font-size:0;
    margin-bottom:20px;
  }

  p {
    font-size:16px;
    color:$darkblue;
  }
}

section.how {
  background-color: $white;
}

section.pricing {
  background-color: $pink;
}

section.service {
  background-color: $white;
}

section.love {
  background-color: $yellow;
}

footer {
  background-color: $lightblue;

  .legal {
    background-color: $darkblue;
  }
}