$icon-font-path: '../fonts/';

// Media queries breakpoints
$screen-xs: 480px; // Extra small screen
$screen-sm: 768px; // Small screen
$screen-md: 768px; // Medium screen
$screen-lg: 1024px; // Large screen

// Grid system.
// Define your custom responsive grid.
// Number of columns in the grid &
//    Padding between columns. Gets divided in half for the left and right.
$grid-columns: 12;
$grid-gutter-width: 60px;


// Container sizes.
// Define the maximum width of `.container` for different screen sizes.
$container-tablet: (640px + $grid-gutter-width);
$container-desktop: (700px + $grid-gutter-width);
$container-large-desktop: (940px + $grid-gutter-width);

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// vars
$white: #ffffff;
$pink: #EA736A;
$yellow: #FCEDA7;
$lightblue: #356595;
$darkblue: #033E7B;

body {
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:20px;
  overflow-x:hidden;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

section {
  padding:40px 0;
}

header {
  background-color: $lightblue;
  height:50px;
}

section.splash {
  background-color: $white;

  .row {

  }

  .center-block {
    float:none;
    line-height:600px;
  }

  img {
    width:100%;
    height:auto;
    display:inline-block;
  }
}

section.intro {
  background-color: $yellow;

  .section-image img {
    margin-top:-120px;
  }

  h1 {
    margin:0;
    @media (min-width: $screen-lg-min) {
      margin-bottom:20px;
    }
  }

  h1.holidays-sick {
    display:inline-block;
    width:277px;
    height:33px;
    background:url('../images/opvakantie-ziek.png') no-repeat top left;
    background-size:contain;
    font-size:0;
  }

  h1.overtime {
    display:inline-block;
    width:178px;
    height:33px;
    background:url('../images/overwerken.png') no-repeat top left;
    background-size:contain;
    font-size:0;
    margin-bottom:20px;
    display:inline-block;
  }

  p {
    font-size:16px;
    color:$darkblue;
    margin-bottom:30px;
  }

  .section-next img {
    @media (min-width: $screen-md-min) {
      margin-top:-60px;
    }
  }
}

section.how {
  background-color: $white;
  color:$darkblue;

  .steps {
    position:relative;
    font-size:15px;

    @media (min-width: $screen-md-min) {
      font-size:13px;
      height:685px;
    }

    .happy {
      $happy-width: 228px;
      $happy-height: 270px;
      $happy-ratio: $happy-width / $happy-height;
      $happy-small-width: $happy-width * 0.9;
      $happy-small-height: $happy-width * $happy-ratio;

      display:none;

      @media (min-width: $screen-md-min) {
        display:block;
        position:absolute;
        top:50%;
        left:50%;

        width:$happy-small-width;
        height:$happy-small-height;
        margin-top:-$happy-small-width/2;
        margin-left:-$happy-small-height/2;
      }

      @media (min-width: $screen-lg-min) {

        height:$happy-height;
        margin-left:-$happy-height/2;
        margin-top:-$happy-width/2;
        width:$happy-width;
      }

      img {
        width:100%;
      }
    }

    .step {
      margin-top:35px;
      position:relative;

      & > img {
        float:left;
        margin-left:30px;
        max-width:75px;
        height:auto;
      }

      & > .desc {
        margin-left: 130px;
        margin-right: 30px;
        font-size:14px;
      }

      .asterix { margin-left:5px; display:none; }

      @media (min-width: $screen-md-min) {
        margin-top:auto;
        position:absolute;
        left:50%;

        & > img {
          float:none;
          margin-left:auto;
          max-width:1000px;
        }

        & > .desc {
          padding:10px;
          margin-left: initial;
          margin-right: initial;
          font-size: 13px;
        }

        &.text-below {
          .desc { margin-top:2px; }
        }

        &.text-next {
          img { vertical-align:top; }
          .desc { display:inline-block; width:65%; }
        }

        .asterix { display:inline; }

        &.step-1 {
          width:180px; top:0; margin-left:-70px;
          @media (min-width: $screen-lg-min) {
            width:275px; top:0; margin-left:-130px;
          }
        }
        &.step-2 {
          width:240px; top:70px; margin-left:120px;
          @media (min-width: $screen-lg-min) {
            width:275px; top:60px; margin-left:172px;
          }
        }
        &.step-3 {
          width:220px; top:334px; margin-left:160px;
          @media (min-width: $screen-lg-min) {
            width:267px; top:334px; margin-left:190px;
          }
        }
        &.step-4 {
          width:330px; top:559px; margin-left:40px;
          @media (min-width: $screen-lg-min) {
            width:350px; top:559px; margin-left:60px;
          }
        }
        &.step-5 {
          width:400px; top:550px; margin-left:-360px;
          @media (min-width: $screen-lg-min) {
            width:400px; top:550px; margin-left:-415px;
          }
        }
        &.step-6 {
          width:240px; top:282px; margin-left:-360px;
          @media (min-width: $screen-lg-min) {
            width:240px; top:282px; margin-left:-442px;
          }
        }
        &.step-7 {
          width:330px; top:80px; margin-left:-330px; img { margin-left:75px; }
          @media (min-width: $screen-lg-min) {
            width:330px; top:80px; margin-left:-428px; img { margin-left:75px; }
          }
        }
      }
    }

    .arrow {
      display:none;

      @media (min-width: $screen-md-min) {
        display:block;
        position:absolute;
        left:50%;
        z-index:1;

        &.arrow-1 {
          top:33px; margin-left:62px;
          @media (min-width: $screen-lg-min) {
            top:33px; margin-left:62px;
          }
        }
        &.arrow-2 {
          top:290px; margin-left:315px;
          @media (min-width: $screen-lg-min) {
            top:332px; margin-left:335px;
          }
        }
        &.arrow-3 {
          top:510px; margin-left:265px;
          @media (min-width: $screen-lg-min) {
            top:510px; margin-left:300px;
          }
        }
        &.arrow-4 {
          top:663px; margin-left:-40px;
          @media (min-width: $screen-lg-min) {
            top:663px; margin-left:0;
          }
        }
        &.arrow-5 {
          top:490px; margin-left:-225px;
          @media (min-width: $screen-lg-min) {
            top:490px; margin-left:-285px;
          }
        }
        &.arrow-6 {
          top:275px; margin-left:-215px;
          @media (min-width: $screen-lg-min) {
            top:262px; margin-left:-295px;
          }
        }
      }
    }
  }

  .asterix-explain {
    font-size:14px;
    padding-left:80px;
    display:none;

    @media(min-width: $screen-md-min) {
      display:block;
    }

    .asterix {
      float:left;
    }

    p {
      color:$darkblue;
      margin-left: 35px;
    }

    .extra {
      font-size:13px;
      margin-left: 35px;
      display:inline-block;
    }
  }

  .section-next {
    margin-top:40px;

    .next-button img {
      @media(min-width: $screen-md-min) {
        margin-top:50px;
      }
    }
  }
}

section.pricing {
  background-color: $pink;
  color:$white;
/*
  @media (min-width: $screen-sm-min) {
    background-color:red;
  }
  @media (min-width: $screen-md-min) {
    background-color:blue;
  }
  @media (min-width: $screen-lg-min) {
    background-color:green;
  }
*/
  .price-table {
    margin-bottom:50px;
    margin-top:25px;
    @media (min-width: $screen-md-min) {
      margin-top:0px;
    }

    .price-row {
      border-bottom:1px solid $white;
      padding:12px 0;
      &:last-child { border-bottom:none; }

      .price { float:right; margin-left:30px; }
    }
  }


  .arrow {
    margin-right:8px;
    vertical-align:top;
  }

  .availability {
    margin-bottom:50px;
    p {
      margin-top:10px;
    }
  }

  .more-info {
    @media (min-width: $screen-md-min) {
      margin-left:-34px;
    }
  }
}

section.service {
  background-color: $white;

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    background:url(../images/hartje.png) no-repeat top left;
    background-size: 18px 16px;
    background-position:0px 2px;
    padding-left:40px;
    font-weight:bold;
    color:$darkblue;
    margin-bottom:30px;
  }

  .section-image img {
    display:none;
    @media (min-width: $screen-md-min) {
      display:block;
    }
  }

  .section-next img {
    @media (min-width: $screen-lg-min) {
      margin-top:-50px;
    }
  }
}

section.love {
  background-color: $yellow;
}


/* contact section */

section.contact {
  background-color: $lightblue;
  color:white;

  .social {
    display:none;
    @media (min-width: $screen-md-min) {
      display:block;
    }

    p:first-child {
      margin-bottom:24px;
    }
  }

  .coords {
    @media (min-width: $screen-md-min) {
      text-align:right;
    }

    p {
      margin:24px 0;
    }

    .facebook {
      margin-right:10px;
    }

    a, a:link, a:hover, a:visited {
      color:white;
    }
  }
}


/* legal footer */

footer {
  background-color: $darkblue;
  color:white;
  font-size:11px;
  padding:8px 0 18px 0;
}


/* grass strips */

.grass-horizontal {
  background-color:$lightblue;
  background-size:649px 38px;
  background-position:center center;
  height:38px;
  margin-top:-30px;

  &.grass-white {
    background-image:url('../images/gras1.png');
  }

  &.grass-darkblue {
    background-image:url('../images/gras8.png');
  }
}